apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hopps-demo
resources:
  - ../../base/hopps
  - namespace.yaml
  # create database
  - cnpg-cluster.yaml
  - database.yaml
# patch files matching the environment
patches:
  - path: helm-release.yaml
# create all needed secrets with fix name
generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
  - name: org
    envs:
      - secrets/org-secret-encrypted.env
  - name: az-document-ai
    envs:
      - secrets/az-document-ai-secret-encrypted.env
  - name: frontend
    envs:
      - secrets/frontend-secret-encrypted.env
  - name: postgres-operator-secret
    envs:
      - secrets/postgres-cluster-secret-encrypted.env
  - name: openai-api-key
    envs:
      - secrets/openai-api-key-encrypted.env
  - name: org-db-secret
    envs:
      - secrets/db/org-db-secret-encrypted.env
  - name: zugferd
    envs:
      - secrets/zugferd-secret-encrypted.env
